$description: #DCF2E7;
$black: #180005;
$white: #ffffff;
$lightGreen: #DCF2E7;
$lightRed: #F7E8FA;
$red-50: #FFF1F1;
$red-100:#FFE4E4;
$red-200:#FDCECF;
$red-300:#FCA5A9;
$red-400:#F9737C;
$red-500:#F24152;
$red-600:#DF1F3A;
$red-700:#BC1430;
$red-800:#9D1430;
$red-900:#84142E;
$red-950:#4B0614;
$light:#dcf2e7cc;
$parrot:#b1df41;
$dark:#383B41;