footer {
  width: 100%;

  background-color:#161616;;
  position: relative;
  overflow: hidden;

  .footerTextCont {
    width: 100%;
    z-index: 1000;

    #footerCont {
      width: 100%;
      height: 100%;

      #footerTextBox {
        width: 100%;
        @include flexrow;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 30% auto;
        @include mediumDevice {
          grid-template-columns: repeat(1, 1fr);
        }
        @include smallDevice {
          grid-template-columns: repeat(1, 1fr);
        }
        @include extraSmallDevice {
          grid-template-columns: repeat(1, 1fr);
        }

        .addressCont {
        
          height: 100%;
          color: #fff;
          padding-top: 6rem;
          padding-bottom: 2rem;
          padding-right: 3rem;
          @include flexrow;
          flex-direction: column;
          justify-content: end;
          @include mediumDevice {
            padding: 3rem 0;
            padding-bottom: 1rem;
          }
          @include smallDevice {
            padding: 2rem 0;
            padding-bottom: 1rem;
          }
          @include extraSmallDevice {
            padding: 3rem 0;
            padding-bottom: 1rem;
          }

          .addressBox {
          
            width: 100%;
            @include flexrow;
            flex-direction: column;
            align-items: start;
            justify-content: end;
            &:not(:last-child){
              margin-bottom: 2rem;
            }
            h3 {
              font-size: 1.5rem;
              color: #fff;
              @include largeDevice {
                font-size: 1.3rem;
              }

              @include mediumDevice {
                font-size: 2rem;
              }
              @include extraSmallDevice {
                font-size: 1.5rem;
              }
            }
            p {
              font-size: 1rem;
        
              margin: 0;
              @include largeDevice {
                font-size: 0.9rem;
              }
              @include mediumDevice {
                font-size: 1.1rem;
              }
              @include extraSmallDevice {
                font-size: 0.9rem;
              }
            }
          }
        }
        .linkCont {
          // width: 70%;
          height: 100%;
          color: #fff;
          padding-top: 6rem;
          padding-bottom: 2rem;
         
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 4rem ;
          @include mediumDevice {
            padding-top: 2rem;
          }
          @include smallDevice {
            grid-gap: 2rem;
            padding-top: 1rem;
          }
          @include extraSmallDevice {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            padding-top: 0rem;
          }
          .linkBox {
        
            @include flexrow;
            flex-direction: column;
            align-items: start;
            justify-content: end;
            &:not(:last-child){
              @include mediumDevice {
                justify-content: start;
              }
            }
            &:not(:last-child){
              @include smallDevice {
                justify-content: start;
              }
            }

            h3 {
              color: #fff;
              margin-bottom: 1rem;
              @include smallDevice {
                font-size: 1.5rem;
              }
            }
            .flinkCont {
              padding: 0;
              margin: 0;

              li {
                &:not(:last-child) {
                  padding-bottom: 1rem;
                  @include largeDevice {
                    padding-bottom: 0.8rem;
                  }
                  @include smallDevice {
                    padding-bottom: 0.5rem;
                  }
                }
                a {
                  color: #fff;
                  margin-bottom: 1rem;
                  @include mobile{
                    margin-bottom: 0rem;
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .copyCont {
    width: 100%;
    background: #2b2b2b;


    #copyCont {
      width: 100%;
      height: 100%;

      #copy {
        width: 100%;
        padding: 1rem 0;
        @include flexrow;
        justify-content: space-between;
        @include extraSmallDevice{
         flex-direction: column;
        }
        @include smallDevice{
          flex-direction: column;
          text-align: center;
         
        }

        h4 {
          font-size: 1rem;
          color: $white;
          @include mediumDevice {
            font-size: 0.8rem;
          }
          @include smallDevice {
            font-size: 0.7rem;
          }
          @include extraSmallDevice {
            text-align: center;
            font-size: 0.7rem;
          }

          a {
            color: $white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
