header {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include extraSmallDevice {
    height: calc(90vh - 100px);
    padding: 3rem 0;
  }
  @include mediumDevice {
    height: calc(100vh - 100px);
  }
  @include smallDevice {
    height: calc(90vh - 100px);
  }

  div {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font-size: 6vw;
    font-weight: 600;
    line-height: 100%;
    @include extraSmallDevice {
      font-size: 8.5vw !important;
    }
    @include mediumDevice {
      font-size: 8vw !important;
    }
    @include smallDevice {
      font-size: 7.5vw !important;
    }
    span {
      @include mediumDevice {
        margin: 10% auto;
      }
    }
  }
  span {
    @include extraSmallDevice {
      font-size: 11vw !important;
    }
    @include mediumDevice {
      font-size: 10vw !important;
    }
  }

  h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black;
    margin: 10px auto;
  }

  h1:last-child {
    color: $red-900;
  }

  p {
    font-size: 24px;
    text-align: center;
    width: 80%;
    margin: auto;
    @include largeDevice {
      font-size: 1.3rem;
      max-width: 95%;
    }
    @include extraSmallDevice {
      font-size: 1rem;
      max-width: 95%;
    }
    @include mediumDevice {
      font-size: 1.2rem;
      max-width: 95%;
    }
    @include smallDevice {
      font-size: 1.1rem;
      max-width: 95%;
    }
  }

  a {
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    position: relative;
    color: $black;
    text-align: center;
    @include mediumDevice {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
    @include smallDevice {
      font-size: 1.1rem;
      margin-top: 1.5rem;
    }
    @include extraSmallDevice {
      font-size: 1rem;
      margin-top: 1rem;
    }
    &::after {
      content: "";
      width: 100%;
      // height: 3px ;
      border: 1px solid $black;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
