.wrapper {
  width: 100%;
  position: relative;

  #followCont {
    width: 20rem;
    // padding: 1.5rem 1.8rem;
    padding: 1.8rem;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: $red-900;
    @include flexrow;
    flex-direction: column;
    align-items: start;
    gap: 0.9rem 5rem;
    // visibility: hidden;
    display: none;
    @include largeDevice {
      width: 12rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }
    @include mediumDevice {
      display: none;
    }
    @include smallDevice {
      display: none;
    }
    @include extraSmallDevice {
      display: none;
    }

    h2 {
      color: #fff;
      width: 100%;
      // @include flexrow;
      // justify-content: space-between;
      font-size: 2rem;
      @include flexrow;
      justify-content: space-between;
      @include largeDevice{
        font-size: 1.3rem;
      }

      #close{
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        @include largeDevice{
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
    .socialIconBox {
      width: 60%;
      @include flexrow;
      justify-content: space-between;
      @include largeDevice{
        width: 100%;
      }

      a {
        // width: 15%;
        // height: 100%;
        padding: 0.5rem;
        border-radius: 50%;
        border: none;
        @include largeDevice{
          padding: 0.3rem;
        }
        img {
          width: 1.2rem;
          height: 1.2rem;
          fill: black;
          @include largeDevice{
            width: 1rem;
            height: 1rem;
          }


        }
      }
    }
  }
  nav {
    width: 100%;
    height: fit-content;
    background-color: $white;
    z-index: 1000;
    position: fixed;
    top: 0;
    padding: 0;
    position: relative;

    #navbar {
      position: relative;
      @include flexrow;
      justify-content: space-between;

      @include mediumDevice {
        padding: 0.8rem 0;
      }
      @include smallDevice {
        padding: 0.8rem 0;
      }
      @include extraSmallDevice {
        padding: 0.8rem 0;
      }

      a {
        color: $desc !important;
        font-weight: 400 !important;

        &:hover {
          text-decoration: underline;
          color: $black;
        }
      }
      .menubar {
        width: 2.5rem;
        display: none;
        
        cursor: pointer;
        // padding: 1rem;
        @include mediumDevice {
          display: inline-block;
        }
        @include smallDevice {
          display: inline-block;
        }
        @include extraSmallDevice {
          display: inline-block;
        }
        img {
          width: 100%;
        }
      }
      .navbar-brand {
        img {
          width: 100%;
        }
        @include largeDevice {
          width: 150px;
        }
        @include extraSmallDevice {
          width: 120px;
        }
      }
      .firstLinkCont {
        @include flexrow;
        justify-content: space-between;
        margin: 0;
        padding: 0;
 
        @include mediumDevice {
          position: absolute;
          top: 5rem;
          width: 100%;
          height: calc(70vh - 90px);
          // height: 100%;
          flex-direction: column;
          justify-content: start;
          background-color: $white;
          display: none;
        }
        @include smallDevice {
          position: absolute;
          top: 5rem;
          width: 100%;
          height: calc(80vh - 90px);
          // height: 100%;
          flex-direction: column;
          justify-content: start;
          background-color: $white;
          display: none;
        }
        @include extraSmallDevice {
          position: absolute;
          top: 4.5rem;
          width: 100%;
          height: calc(60vh - 90px);
          // height: 100%;
          flex-direction: column;
          justify-content: start;
          background-color: $white;
          display: none;
      
        }

        .nav-item {
          padding: 0.7rem 0;

          @include mediumDevice {
            width: 100%;
            text-align: center;
            padding-bottom: 0;
            &:not(:last-child) {
              border-bottom: 2px solid $black;
            }
            margin-bottom: 1rem;
          }
          @include smallDevice {
            width: 100%;
            text-align: center;
            padding-bottom: 0;
            &:not(:last-child) {
              border-bottom: 2px solid $black;
            }
            margin-bottom: 1rem;
          }
          @include extraSmallDevice {
            width: 100%;
            text-align: center;
            padding: 0;
            &:not(:last-child) {
              border-bottom: 2px solid $black;
            }
            margin-bottom: 0.5rem;
          }

          .nav-link {
            font-weight: 600 !important;

            padding: 1rem 1.5rem;
            text-transform: uppercase;
            @include largeDevice {
              padding: 1rem;
            }
            @include mediumDevice {
              font-size: 1.3rem;
              // padding: 0;
            }
            @include smallDevice {
              font-size: 1.2rem;
            }
          }
        }
        .serviceLink {
          @include mediumDevice {
            position: relative;
          }
          @include largeDevice {
            &:hover {
              .serviceDropdown {
                display: block;
              }
            }
          }
          @include extraLargeDevice {
            &:hover {
              .serviceDropdown {
                display: block;
              }
            }
          }

          .serviceDropdown {
            width: 100%;
            height: calc(100vh - 80px);
            @include flexrow;
            background-color: $white;
            position: absolute;
            left: 0;
            top: 4.5rem;

            display: none;

            .serviceCont {
              width: 80%;
              height: 100%;
              margin: 0 auto;

              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 4rem;
              @include mediumDevice {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
              }

              .services {
                position: relative;
                border-right: 4px dashed $light;

                @include flexrow;
                align-items: start;
                flex-direction: column;
                @include mediumDevice {
                  justify-content: start;
                }

                h1 {
                  font-weight: 400;
                  @include mediumDevice {
                    margin: 0 !important;
                  }
                  a {
                    font-size: 3.6rem;
                    // font-weight: 400;
                    text-transform: capitalize;
                    color: $black;
                    @include mediumDevice {
                      font-size: 1.5rem;
                      display: inline-block;
                      width: 100%;
                    }
                  }

                  &:not(:last-child) {
                    margin-bottom: 2rem;
                  }
                }
              }
              .subServices {
                @include flexrow;
                #subServeCont {
                  width: 100%;
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  padding: 0;
                  @include mediumDevice {
                    grid-template-columns: repeat(1, 1fr);
                  }

                  li {
                    @include smallDevice {
                      padding: 0rem;
                    }

                    a {
                      width: 100%;
                      font-size: 1.25rem;
                      padding: 0.5rem;
                      text-align: left;
                      margin: 0;
                      text-transform: capitalize;
                      display: inline-block;
                      color: $black;
                      @include mediumDevice {
                        font-size: 1.1rem;
                        padding: 0;
                      }
                    }
                    &:not(:last-child) {
                      margin-bottom: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .secondLinkCont {
        display: flex;
        justify-content: space-between;
        padding: 0;
      
        @include largeDevice {
          justify-content: center;
          padding-left: 0px !important;
        }
        @include mediumDevice {
          position: absolute;
          top: 50vh;
          width: 100%;
          padding: 0;
          justify-content: center;
          display: none
        }
        @include smallDevice {
          position: absolute;
          top: 70vh;
          width: 100%;
          padding: 0;
          justify-content: center;
          display: none;
        }
        @include extraSmallDevice {
          position: absolute;
          top: 45vh;
          width: 100%;
          padding: 0;
          justify-content: center;
          display: none;
        }

        .links {
          margin: 0 0.5rem;

          @include flexrow;
          @include largeDevice {
            margin: 2%;
          }
          @include extraSmallDevice {
            margin: 2%;
          }
          @include mediumDevice {
            margin: 0 2%;
          }
          @include smallDevice {
            margin: 0 2%;
          }
          @include extraSmallDevice {
            margin: 0 2%;
          }

          a {
            @include flexrow;
            border-radius: 50%;
            padding: 1rem;

            border: $border-1;
            @include largeDevice {
              padding: 0.6rem;
            }
            @include smallDevice {
              padding: 0.8rem;
            }
            @include extraSmallDevice {
              padding: 0.5rem;
            }
            img {
              width: 100%;
            }
          }
          &:last-child {
            padding: 0.7rem 0;
            &:hover {
              #followCont {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}
